body{
    background-color:  rgb(255, 255, 255);
}

#logo {
    width: 150px;
}

* {
    font-family: "Roboto", arial, sans-serif;
}

.page-header {
    display: flex;
}

.button {
    background-color: red;
    padding: 10px 20px;
    color: white;
    margin: 0px;
    position: relative;
    text-decoration: none;
}

.dropdown {
    position: absolute;
    padding: 5px;
}

.dropdown-content {
    display: none;
    color:black;
    padding: 5px 5px;
    background-color:white;
    min-width: 250px;
    z-index: 1;
    left: 0; top: 100%;
    width: 100%;
}

.dropdown-content a {
    color:black;
    padding: 5px;
    text-decoration: none;
    border-bottom: 1px black;
    position: relative;
    display: inline-block;
}

.dropdown-content a:hover {background-color: lightgray;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgb(247, 64, 64);}

.video{
    display: inline-block;
    background-color: rgb(182, 182, 182);
    padding: 15px;
    margin: 50px;
    width: 50%;
}

#sorted{
    position: relative;
    left: 550px;
    text-decoration: black;
    text-decoration-line: underline;
}

#homeLink{
    text-decoration: none;
    background-color: red;
    padding: 10px 10px;
    color: white;
    font-size: 200%;
}


.options{
    font-size: 30px;
    position:relative;
    color:rgb(5, 5, 5);
}
#home{
    font-size: 30px;
    float: right;
    padding: 25px 5px;
    margin: 10px;
}

.btn{
    background-color: red;
}

table{
    border: 2px black solid;
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid gray;
    border: 1px solid black
}

tr:nth-child(even) {background-color: #eeb5b5;}
tr:nth-child(odd) {background-color: #f06363;}
tr:hover {background-color: rgb(236, 56, 56);}

th{
    background-color: darkgray;
}