body{
    background-color: antiquewhite;
}

#logo {
    width: 250px;
}

* {
    font-family: "Roboto", sans-serif;
}

.header {
    padding: 30px;
    color: black;
}

.dropbtn {
    background-color: white;
    padding: 16px;
    color: black;
    border: none;
}

.dropdown {
    position: relative;
    padding: 16px;
    display: block;
}

.dropdown-content {
    display: none;
    color:black;
    padding: 50px 50px;
    background-color:white;
    min-width: 250px;
    z-index: 1;
}

.dropdown-content a {
    color:white;
    padding: 50px 50px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color:white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: lightgray;}

