body{
    background-color:  rgb(255, 255, 255);
}

#logo {
    width: 150px;
}

* {
    font-family: "Roboto", arial, sans-serif;
}

.page-header {
    display: flex;
}

.button {
    background-color: red;
    padding: 10px 20px;
    color: white;
    margin: 0px;
    position: relative;
    text-decoration: none;
}

.dropdown {
    position: absolute;
    padding: 5px;
}

.dropdown-content {
    display: none;
    color:black;
    padding: 5px 5px;
    background-color:white;
    min-width: 250px;
    z-index: 1;
    left: 0; top: 100%;
    width: 100%;
}

.dropdown-content a {
    color:black;
    padding: 5px;
    text-decoration: none;
    border-bottom: 1px black;
    position: relative;
    display: inline-block;
}

.dropdown-content a:hover {background-color: lightgray;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgb(236, 43, 43);}

.video{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 50px;
    width: 50%;
}

#sorted{
    position: relative;
    left: 550px;
    text-decoration: black;
    text-decoration-line: underline;
}

#homeLink{
    text-decoration: none;
    background-color: red;
    padding: 5px;
}

<<<<<<< HEAD
#options{
    font-size: 60px;
    position:relative;
    color:rgb(5, 5, 5);
=======
#home{
    font-size: 30px;
    float: right;
<<<<<<< HEAD
    padding: 25px 5px;
    margin: 10px;
=======
    padding: 
>>>>>>> 134ed68200ee7c47ae3939f9faa8e1c31d156444
>>>>>>> ef03728c33d45ee24f7a136cedac11cd47880e0a
}