body{
    background-color: rgb(167, 164, 164);
}

#logo {
    width: 150px;
}

* {
    font-family: "Roboto", arial, sans-serif;
}

.page-header {
    display: flex;
}

.dropbtn {
    background-color: white;
    padding: 5px;
    color: black;
    margin: 0px;
}

.dropdown {
    position: absolute;
    padding: 5px;
}

.dropdown-content {
    display: none;
    color:black;
    padding: 5px 5px;
    background-color:white;
    min-width: 250px;
    z-index: 1;
    left: 0; top: 100%;
    width: 100%;
}

.dropdown-content a {
    color:black;
    padding: 5px;
    text-decoration: none;
    border-bottom: 1px black;
    position: relative;
    display: inline-block;
}

.dropdown-content a:hover {background-color: grey;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: lightgray;}

li{
    display: inline-block;
    background-color: gray;
    padding: 15px;
    margin: 50px;
    width: 50%;
}
